table {
    width: 100%;
    border: 1px solid black}

td {
    width: 5%;
    height: 5%;
    position: relative;
    border: 1px solid black
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e6e6ea;
}

td .start {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #7bc043;
    color: #7bc043;
}

td .end {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fe4a49;
    color: #fe4a49;
}

.highlight {
    background-color: grey;
    color: grey;
}

.path {
    color: #7bc043;
    background-color: #7bc043;
}